body,html{
	width: 100%;
}
a{
	color: #000;
}
/*banner start*/
.banner{
	position:relative;
	overflow: auto;
	text-align: center;
	height: 638px !important;
}
.banner li { list-style: none; }

.banner ul li { float: left; }
#b03{
 width:100%;
 position: relative;
 margin: auto;
}
#b03 .dots{ 
	position: absolute; 
	left: 0; 
	right: 0;
	bottom: 20px;
}
#b03 .dots li{ 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin: 0 4px; 
	text-indent: -999em; 
	border: 2px solid #fff; 
	border-radius: 6px; 
	cursor: pointer; 
	opacity: .4; 
	-webkit-transition: background .5s, opacity .5s; 
	-moz-transition: background .5s, opacity .5s; 
	transition: background .5s, opacity .5s;
}
#b03 .dots li.active{
	background: #fff;
	opacity: 1;
	width:30px;
}
/*banner  end*/

/*内宽*/
.wj-container{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

/*企业简介 */
.wj-container .wj-company1{
	width: 100%;
	height: 168px;
	padding:50px;
	box-sizing: border-box;
}
/*企业简介 */

/*介绍 开始*/
.wj-container .four{
	width: 100%;
	height:457px;
}
.wj-container .four li{
	position: relative;
	float: left;
	margin-left:16px;
	width:288px;
	height: 100%;
	overflow: hidden;
}
.wj-container .four li:first-child{
	margin-left:0px;
}
.wj-container .four li .wj-top{
	width: 100%;
	height: 312px;
}
.wj-container .four li .wj-top img{
	width: 100%;
	height: 100%;
}
.wj-container .four li .wj-bottom{
	position: absolute;
	left: 0px;
	top: 312px;
	width: 100%;
	height: 252px;
	background:#F4F4F4;
	padding: 0px 30px 0px 30px;
	box-sizing: border-box;
}
.wj-container .four li .wj-bottom p:nth-child(1){
	color: #999;
	font-size: 40px;
	font-family: '微软雅黑';
	width: 40px;
	margin:auto;
	margin-top: 3px;
}
.wj-container .four li .wj-bottom p:nth-child(2){
	color: #666;
	font-size: 18px;
	font-family: '微软雅黑';
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width:90px;
	margin:auto;
	margin-top:7px;
}
.wj-container .four li .wj-bottom p:nth-child(3){
	color: #666;
	font-size: 14px;
	font-family: '微软雅黑';
	width:170px;
	text-align: center;
	margin: auto;
	margin-top:8px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
}
.wj-container .four li .wj-bottom p:nth-child(4){
	color: #333;
	font-size:46px;
	font-family: '微软雅黑';
	width:170px;
	text-align: center;
	margin: auto;
	margin-top:23px;
}
/*移入效果*/
.wj-container .four li:hover .wj-bottom{
	background: #FFF43C;
	top:204px;
	transition:0.3s;
}
.wj-container .four li:hover .wj-bottom p{
	color: #333;
}
/*介绍  结束*/

/*swiper 开始*/
.swiper-pagination-bullet{
	width: 8px !important;
	height: 8px !important;
	border-radius:50% !important;
	background: #FFDC36 !important;
	opacity:1 !important;
}
.swiper-pagination-bullet-active{
	width: 24px !important;
	background: #FF3795 !important;
	border-radius:5px !important;
}
.swiper-pagination-bullets{
	bottom:1px !important;
}
.swiper-slide{
	width: 947px;
	height: 600px;
}
/*swiper 结束*/

/*间隔*/
.wj-fenge{
	width: 100%;
	height: 202px;
	margin: auto;
}
/*间隔*/

/*图片 + 轮播*/
.wj-bkimg{
	width: 100%;
	height: 635px;
	position: relative;
	margin-bottom: 400px;
}
.wj-bkimg img{
	width: 100%;
	height: 63px;
}
.wj-bkimg .img1{
	width: 100%;
	height:623px;
}
.wj-bkimg .wj-bannershow{
	position: absolute;
	top:387px;
	left: 0px;
	right: 0px;
	margin: auto;
	box-sizing: border-box;
	height:600px;
	width:967px;
}
.wj-bkimg .wj-bannershow .wj-banner2{
	width:967px !important;
	padding:0px 20px 0px 20px;
	height: 100%;
}
.wj-bkimg .wj-bannershow .wj-banner2 .wj-box{
	width: 228px;
	height:471px;
	background: green;
	float: left;
	margin-left:121.5px;
	box-shadow:10px 10px 20px 0px #999;
}
.wj-bkimg .wj-bannershow .wj-banner2 .wj-box:first-child{
	margin-left:0px;
}
.wj-bkimg .wj-bannershow .wj-banner2 .wj-box:nth-child(4){
	margin-left:0px;
}
.wj-bkimg .wj-bannershow .wj-banner2 .wj-box:nth-child(7){
	margin-left:0px;
}
.wj-banner2 .wj-box .wj-top1{
	padding: 56px 10px 0px 10px;
	box-sizing: border-box;
	width: 100%;
	height: 246px;
	background: #FF3795;
}
.wj-banner2 .wj-box .wj-bottom1{
	width: 100%;
	height: 226px;
	background:#fff;
}
.wj-banner2 .wj-box .wj-bottom1 img{
	margin-top:65px;
}
.wj-page2{
	width:56px;
	height:8px;
	margin: auto;
	margin-top:200px;
	background:yellow;
}

/*点击查看*/
.wj-box a p{
	width: 100px;
	height:34px;
	background:#FDDA36;
	text-align: center;
	line-height: 34px;
	font-family: "微软雅黑" ;
	font-size: 16px;
	color: #fff;
	border-radius:0px 0px 10px 10px;
	margin-left: 25px;
	z-index:-1;
	position: relative;
}
/*点击查看*/


.wj-banner2 .wj-box .wj-top1 p:first-child{
	color: #fff;
	font-size:18px;
	font-family: '微软雅黑';
	margin: auto;
	width: 100%;
	text-align: center;
}
.wj-banner2 .wj-box .wj-top1 span{
	display: block;
	color: #fff;
	font-size:12px;
	font-family: '微软雅黑';
	text-align: center;
	margin-top:20px;
	line-height:30px;
}
.wj-banner2 .wj-box .wj-top1 p:nth-child(3){
	display: block;
	margin-top:30px;
	color: #fff;
	font-size:12px;
	font-family: '微软雅黑';
	text-align:right;
}

.wj-partnerBox {
	width: 100%;
	position: relative;
	margin-top: 600px;
	margin-bottom: 370px;

}
.wj-partnerBox .colorLeft {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FF3795;
	height: 444px;
	width: 94.5%;
}
.wj-partnerBox .colorRight {
	position: absolute;
	bottom: 70px;
	right: 0px;
	height: 176px;
	width: 355px;
	background: #FF3795;
}
.wj-partnerBox .colorLeft img {
	width: 571px;
	height: 596px;
	position: absolute;
	top: -152px;
	left: 100px;
}
.wj-partnerBox .wj-partner {
	width: 1200px;
	margin: auto;
	height: 600px;
	position: relative;
	top: 155px
}
.wj-partnerBox .wj-partner .des {
	width: 100%;
	height: 100%;
	position: relative;
}
.wj-partnerBox .wj-partner .des .imgl img{
	width: 730px;
	height: 490px;
}
.wj-partnerBox .wj-partner .des .imgr {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.wj-partnerBox .wj-partner .des .imgr img{
	width: 470px;
	height: 315px;
}

.wj-partnerBox .wj-partner .des .con {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 470px;
	height: 281px;
	padding: 0px 70px;
	box-sizing: border-box;
	background: white;
}
.wj-partnerBox .wj-partner .des .con div {
	margin-top: 30px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #ff3795;
}
.wj-partnerBox .wj-partner .des .con h3 {
	font-family: "微软雅黑";
	font-size: 36px;
	color: #ff3795;
	margin-bottom: 20px;
}
.wj-partnerBox .wj-partner .des .con p {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
}

