*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
	box-sizing: border-box;
	border: none;
}
.np-head{
	width: 100%;
	height: 100px;
}
.np-head .np-nav{
	width: 1200px;
	height: 100%;
	margin: auto;
	margin-top: 20px;
	line-height: 100px;
}
.np-head .np-nav .np-img{
	width: 247px;
	height: 100%;
	float:left;
}
.np-head .np-nav .np-img a{
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 10px;
}
.np-head .np-nav .np-img a img{
	width: 100%;
	height: 80px;
	display: block;
	
}
.np-head .np-nav .np-space{
	font-size: 16px;
	text-align: center;
	width: 933px;
	float: left;
	height: 100%;
	margin-left: 20px;
}
.np-head .np-nav .np-space li{
	float: left;
	height: 100%;
	padding: 0px 16px;
}
.np-head .np-nav .np-space li a{
	color: #333;
	height: 90%;
	display: block;
	text-align: center;
}
.np-head .np-nav .np-space li a:hover{
	color: #ff3795;
}
.np-head .np-nav .np-space li:nth-child(1) a{
	color: #ff3795;
}
.np-head .np-nav .np-space li:nth-child(1) a{
	border-bottom: 6px solid #FF3795;

}
.np-head .np-nav .np-space li a:hover{
	border-bottom: 6px solid #FF3795;
}
footer{
	margin-top: 20px;
	width: 100%;
	height: 370px;
	background:#ff3795;
}
footer .np-last{
	width: 1200px;
	height: 250px;
	margin: auto;
}
footer .np-last  .np-end{
	width: 33.33%;
	margin-top: 70px;
	margin-bottom: 50px;
	height: 100%;
	float:left;
	color: #fff;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}
footer .np-last  .np-end:first-child{
	border-right:1px solid #ae1f63;
	padding-left: 10px;
}
footer .np-last  .np-end h5{
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
}
footer .np-last  .np-end h5 .iconfont{
	font-size: 20px;
	margin-left: 10px;
}
footer .np-last  .np-end h6 .iconfont{
	font-size: 18px;
	margin-left: 10px;
}
footer .np-last  .np-end h6{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 30px;
}
footer .np-last  .np-end ul li{
	font-size: 14px;
	line-height: 30px;
}
footer .np-last  .np-end ul li span{
	display: block;
	margin-left: 35px;
}
footer .np-last  .np-end ul li .iconfont{
	font-size: 16px;
	color: #555;
	margin-right: 20px;
}
footer .np-last  .np-end ul li:last-child .iconfont{
	font-size: 22px;
	margin-left: -2px;
	margin-right: 16px;
}
footer .np-last  .np-pro ul li{
	float: left;
	font-size: 16px;
	width: 25%;
}
footer .np-last  .np-pro ul li a{
	color: #fff;
}
footer .np-last  .np-end:last-child img{
	width: 217px;
	height: 211px;
	margin-left: 50px;
	margin-top: 30px;
}
