a {
	color: black;
}
.wj-partnerBox .wj-partner .more {
	width: 151px;
	height: 38px;
	background: #FFDC36;
	float: left;
	margin-top: 35px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #333;
	font-family: "微软雅黑";
	position: relative;
}

/* 了解更多按钮*/
.gy-container .more {
	width: 151px;
	height: 38px;
	background: #FFDC36;
	float: right;
	margin-top: 180px;
	margin-right: 130px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #333;
	font-family: "微软雅黑";
	position: relative;
}
/* 了解更多按钮*/

.gy-container {
	width: 1200px;
	margin: auto;
	margin-top: 10px;
}




/* 加盟案例 开始 */
.gy-container .jionBanner {
	width: 100%;
	height: 660px;
	overflow: hidden;
	box-shadow: 0px 0px 20px 10px #F3F3F3;	
	position: relative;

}
.gy-container .jionBanner .jionBannerBox {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1200px;
}
.gy-container .jionBanner .img {
	width: 500px;
	height: 660px;
	float: left;

}
.gy-container .jionBanner img {
	width: 100%;
	height: 100%;
}
.gy-container .jionBanner li {
	float: left;
	font-family: "微软雅黑";
}
.gy-container .jionBanner .tit {
	font-size: 24px; 
	color: #333;
	padding: 0px 76px 0px 40px;
	box-sizing: border-box;
	margin-bottom: 26px;
	margin-top: 130px;
}
.gy-container .jionBanner .sec-tit {
	font-size: 14px;
	color: #999;
	padding: 0px 76px 0px 52px;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.gy-container .jionBanner .con {
	width: 582px;
	font-size: 14px;
	color: #333;
	border-top: 2px solid #D1D1D1;
	margin-left: 52px;
	position: relative;
}
.gy-container .jionBanner .con p {
	margin-top: 24px;
	width: 520px;
}
.gy-container .jionBanner .con span {
	width: 28px;
	height: 8px;
	background: #E93A72;
	position: absolute;
	top: -5px;
	left: 0px;
}

.gy-container .more {
	width: 151px;
	height: 38px;
	background: #FFDC36;
	float: right;
	margin-top: 180px;
	margin-right: 130px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #333;
	font-family: "微软雅黑";
	position: relative;
}
.gy-container .bannerBtn {
	width: 80px;
	margin: auto;
	margin-top: 50px;	
	height: 11px; 

}
.gy-container .bannerBtn li {
	margin-right: 7px;
	width: 10px;
	height: 10px;
	background: #FFDC36;
	float: left;
}
.gy-container .bannerBtn .box-radius {
  border-radius: 15px;
  behavior: url(border-radius.htc);
}
.gy-container .bannerBtn .active {
	width: 20px;
	height: 10px;
	background: #FF3795;
}
/*  加盟案例 结束*/
/* 企业环境 开始 */
.gy-container .gy-inviro {
	width: 1200px;
	overflow: hidden;
	margin-top: 225px;
	position: relative;
}

.gy-container .gy-inviro .inviroTitle {
	width: 146px;
	height: 60px;
	margin: 0px auto;
	margin-bottom: 50px;
}
.gy-container .gy-inviro .inviroWheel {
	overflow: hidden;
	width: 1200px;
	height: 462px;
	position: relative;
}
.gy-container .gy-inviro .inviroWheel .wheelBox {
	width: 100%;
	height: 462px;
	position: absolute;
	top: 0;
	left: 0;
}
.gy-container .gy-inviro .des {
	width: 530px;
	float: left;
	margin-left: 7px;
	margin-bottom: 15px;
	margin-top: 60px;
} 
.gy-container .gy-inviro .des .tit {
	font-size: 28px;
	font-weight: bold;
	color: #333;
}
.gy-container .gy-inviro .des .tit span {
	margin: 0 10px 0 10px;
}
.gy-container .gy-inviro .des .sec-tit {
	font-size: 18px;
	color: #333;
	font-family: "微软雅黑";
	font-weight: bold;
	margin-bottom: 36px;
}
.gy-container .gy-inviro .des .con {
	padding-top: 64px;
	box-sizing: border-box;
	border-top: 2px solid #D1D1D1;
	position: relative;
}
.gy-container .gy-inviro .des .con .str {
	width: 28px;
	height: 8px;
	background: #E93A72;
	position: absolute;
	top: -5px;
	left: 0px;

}
.gy-container .gy-inviro .des .con p:first-child{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
	margin-top: 67px;
}
.gy-container .gy-inviro .des .con p:last-child{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #999;
	margin-top: 40px;
}
.gy-container .gy-inviro .more {
	width: 151px;
	height: 38px;
	background: #FFDC36;
	float: left;
	margin-top: 28px;
	margin-right: 130px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #333;
	font-family: "微软雅黑";
	position: relative;
}



.gy-container .gy-inviro .wheel {
	float: right;
	width: 596px;
	height: 396px;
	position: relative;
	overflow: hidden;
}
.gy-container .gy-inviro .wheel div {
	width: 596px;
	height: 396px;
	position: absolute;
	top: 0;
	left: 0;
}
.gy-container .gy-inviro .wheel img {
	width: 100%;
	height: 100%;

}

.gy-container .inviro .btn {
	position: absolute;
	right: 177px;
	bottom: 40px;
	/*width: 56px;*/
	height: 8px;

}
.gy-container .inviro .btn li {
	width: 8px;
	height: 8px;
	float: left;
	background: #C7C7C7;
	margin-right: 5px;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;

}
.gy-container .inviro .btn .active {
	background: white;
}
.gy-container .inviro .btn .box-radius {
  border-radius: 15px;
  behavior: url(border-radius.htc);
}

.gy-container .inviro .gy-inviro .slide {
	position: absolute;
	right: 85px;
	bottom: 30px;
	width: 56px;
	height: 28px;
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 28px;
}
.gy-container .inviro .gy-inviro .slide .slideLeft {
	width: 50%;
	float: left;
	background: rgb(67,67,67);
	border-right: 1px solid white;
}
.gy-container .inviro .gy-inviro .slide .slideRight {
	width: 50%;
	float: right;
	background: rgb(67,67,67);
}
/* 企业环境 结束 */
/* 资讯中心 开始*/
.gy-container .consult {
	margin-top: 244px;
	width: 1200px;
	margin-bottom: 173px;
}
.gy-container .consult .title {
	width: 146px;
	height: 60px;
	margin: 0px auto;
	margin-bottom: 50px;
	margin-bottom: 70px;
}
.gy-container .consult .title img  {
	width: 100%;
	height: 100%;
}
.gy-container .consult .gy-consult {
	width: 1200px;
	overflow: hidden;
}
.gy-container .consult .gy-consult li {
	width: 330px;
	float: left;
	margin-right: 100px;
	position: relative;
}
.gy-container .consult .gy-consult li img {
	width: 100%;
	height: 100%;
	border: 1px solid #D2D2D2;
}
.gy-container .consult .gy-consult li:last-child {
	margin-right: 0px;	
}
.gy-container .consult .gy-consult li span {
	display: block;
	width: 268px;
	height: 8px;
	margin: auto;
	background: rgb(255,244,60);
	margin-top: -5px;
}
.gy-container .consult .gy-consult li .tit {
	position: absolute;
	bottom: 128px;
	left: 12px;
	color: #ff3795;
	font-size: 32px;
	font-family: "微软雅黑";
}
.gy-container .consult .gy-consult li .des {
	position: absolute;
	bottom: 92px;
	left: 12px;
	color: #ff3795;
	font-size: 22px;
	font-family: "微软雅黑";
}
/* 资讯中心 结束*/

/* 虚线框 开始*/
.more .line {
	position: absolute;
	top: -5px;
	left: -5px;
	border: 1px dashed #999;
	width: 151px;
	height: 38px;
}
.more .line .tl {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
}
.more .line .tm {
	position: absolute;
	top: -3px;
	left: 0px;
	right: 0px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
	margin: auto;
}
.more .line .tr {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
}
.more .line .bl {
	position: absolute;
	bottom: -3px;
	left: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
}
.more .line .bm {
	position: absolute;
	bottom: -3px;
	left: 0px;
	right: 0px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
	margin: auto;
}
.more .line .br {
	position: absolute;
	bottom: -3px;
	right: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
}
.more .line .l {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
	margin: auto;
}
.more .line .r {
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
	margin: auto;
}
/* 虚线框 结束*/

/* 标题 样式开始*/
.jionTitle {
	width: 180px;
	height: 75px;
	margin: 0px auto;
	margin-bottom: 56px;
	position: relative;
}
.jionTitle p{
	font-weight: bold;
	font-family: "微软雅黑";
	color: #333;
}
.jionTitle span {
	color: #999;
	font-family: "微软雅黑";
	font-weight: normal;
}
.jionTitle .topLine {
	position: absolute;
	top: 28px;
	width: 120px;
	border-bottom: 1px dashed #CBCBCB;
}
.jionTitle .topDoc {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 26px;
	left: 115px;
	background: #CBCBCB;
 	border-radius: 50%;
 	behavior: url(border-radius.htc);
}
.jionTitle .con {
	line-height: 60px;
	width: 100%;
	font-size: 22px;
	color: #333;
	word-spacing: 6px;
}
.jionTitle .con span{
	display: inline-block;
	font-size: 14px;
	box-sizing:border-box;
	vertical-align: middle;
}
.jionTitle .botLine {
	position: absolute;
	top: 75px;
	width: 150px;
	border-bottom: 1px dashed #333;
}
.jionTitle .botDoc {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 73px;
	left: 152px;
	background: #333;
 	border-radius: 50%;
 	behavior: url(border-radius.htc);
}
.jionTitle .botblk {
	width: 16px;
	height: 4px;
	position: absolute;
	bottom: -2px;
	left: 0px;
	background: #333;
}

/* 标题 样式结束*/
