/* banner开始 */
.banner{
	position:relative;
	overflow: auto;
	text-align: center;
	height: 638px !important;
}
.banner li { list-style: none; }

.banner ul li { float: left; }

#b03{
 width:100%;
 position: relative;
 margin: auto;
}

#b03 .dots{ 
	position: absolute; 
	left: 0; 
	right: 0;
	bottom: 20px;
}

#b03 .dots li{ 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin: 0 4px; 
	text-indent: -999em; 
	background: #fff;
	border-radius: 6px; 
	cursor: pointer; 
	-webkit-transition: background .5s, opacity .5s; 
	-moz-transition: background .5s, opacity .5s; 
	transition: background .5s, opacity .5s;
}

#b03 .dots li.active{
	width: 18px !important;
	background: #fff;
	opacity: 1;
}
/* banner结束 */
.black{
	width: 1000px;
	height: 6px;
	background: #000;
	margin: auto;
}

.lh-container{
	width: 1000px;
	margin: auto;
	margin-top: 30px;
}
/* 面包屑导航 */
.lh-container .lh-brand{
	overflow: hidden;
	margin-bottom: 70px;
}
.lh-container .lh-brand .first {
	color: #666;
	font-size: 16px;
	float: left;
}

.lh-container .lh-brand .first .lines{
	width: 50px;
	height: 3px;
	overflow: hidden;
}
.lh-container .lh-brand .first .lines .line_left{
	width: 36px;
	height: 3px;
	background: #666;
	float: left;
}
.lh-container .lh-brand .first .lines .line_right{
	width: 8px;
	height: 3px;
	background: #666;
	float: right;
}
.lh-container .lh-brand .second{
	float: left;
	color: #333;
	margin-left: 3px;
	font-size: 18px;
}
/* 标题 */
 .jionTitle {
	width: 300px;
	height: 75px;
	margin-bottom: 50px;
	position: relative;
}
 .jionTitle p{
	font-weight: bold;
	font-family: "微软雅黑";
	color: #333;
}
 .jionTitle span {
	color: #999;
	font-family: "微软雅黑";
	font-weight: normal;
}
 .jionTitle .topLine {
	position: absolute;
	top: 28px;
	width: 120px;
	border-bottom: 1px dashed #CBCBCB;
}
 .jionTitle .topDoc {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 26px;
	left: 115px;
	background: #CBCBCB;
 	border-radius: 50%;
}
 .jionTitle .con {
	line-height: 60px;
	width: 100%;
	font-size: 22px;
	color: #333;
	word-spacing: 6px;
}
 .jionTitle .con span{
	display: inline-block;
	font-size: 14px;
	box-sizing:border-box;
	vertical-align: middle;
}
 .jionTitle .botLine {
	position: absolute;
	top: 75px;
	width: 150px;
	border-bottom: 1px dashed #333;
}
 .jionTitle .botDoc {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 73px;
	left: 152px;
	background: #333;
 	border-radius: 50%;
 	behavior: url(border-radius.htc);
}
 .jionTitle .botblk {
	width: 16px;
	height: 4px;
	position: absolute;
	bottom: -2px;
	left: 0px;
	background: #333;
}

.lh-copy{
	color: #333;
	font-size: 22px;
}
.lh-copy span{
	font-size: 18px;
	vertical-align:middle;
}
.lh-xu{
	width: 100px;
	height: 1px;
	border-bottom: 1px dashed #666;
	margin: 3px 0;
}
.lh-xus{
	overflow: hidden;
}
.lh-xus .xu_left{
	width: 20px;
	height: 2px;
	background: #000;
	float: left;
}
.lh-xus .xu_right{
	width: 150px;
	height: 1px;
	border-bottom: 1px dashed #666;
}
/* 列表开始 */

.lh-example .lh-floor{
	position: relative;
	width: 100%;
	height: 180px;
	margin-top: 30px;
}
.lh-example .lh-floor:nth-child(4){
	margin-bottom: 30px;
}
.lh-example .lh-floor .lh-left{
	width: 200px;
	height: 120px;
	color: #fff;
	font-size: 76px;
	background: #999;
	overflow: hidden;
	transition: all 0.5s;
	position: absolute;
	top: 30px;
	left: 0;
}
.lh-example .lh-floor .lh-left .lh-word{
	float: left;
	width: 100px;
	margin-left: 15px;
}
.lh-example .lh-floor .lh-left .lh-word .line{
	width: 56px;
	height: 8px;
	margin-left: 12px;
}
.lh-example .lh-floor .lh-left .lh-word .line .line_left{
	width: 40px;
	height: 100%;
	background: #fff;
	float: left;
	
}
.lh-example .lh-floor .lh-left .lh-word .line .line_right{
	width: 8px;
	height: 8px;
	margin-left: 8px;
	background: #fff;
	float: left;
}
.lh-example .lh-floor .lh-left ul{
	float: left;
	margin-left: 10px;
}
.lh-example .lh-floor .lh-left ul li{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
	margin: 3px 3px;
}
.lh-example .lh-floor .lh-middle{
	width: 290px;
	height: 180px;
	position: absolute;
	left: 150px;
	top: 0;
	z-index: 999;
	transition: all 0.5s;
}
.lh-example .lh-floor .lh-middle img{
	width: 100%;
	height: 100%;
}
.lh-example .lh-floor .lh-right{
	width: 600px;
	height: 118px;
	position: absolute;
	top: 30px;
	right: 0;
	padding-left: 100px;
	box-sizing: border-box;
	border: 1px solid #999;
}
.lh-example .lh-floor .lh-right p:nth-child(1){
	color: #333;
	font-size: 20px;
	margin-top: 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.lh-example .lh-floor .lh-right .con{
	overflow: hidden;
}
.lh-example .lh-floor .lh-right .con p{
	color: #666;
	font-size: 18px;
	float: left;
	margin-top: 8px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.lh-example .lh-floor .lh-right .con ul{
	float: left;
	margin-top: 17px;
	margin-left: 4px;
}
.lh-example .lh-floor .lh-right .con ul li{
	float: left;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	margin: 0 2px;
}
.lh-example .lh-floor .lh-right .con ul li:nth-child(1){
	background: #fd3c84;
}
.lh-example .lh-floor .lh-right .con ul li:nth-child(2){
	background: #fe68a0;
}
.lh-example .lh-floor .lh-right .con ul li:nth-child(3){
	background: #ffb2cf;
}
.lh-example .lh-floor .lh-bottom{
	margin-top: 20px;
	overflow: hidden;
}
.lh-example .lh-floor .lh-bottom .lh-dot{
	float: left;
	margin-right: 20px;
}
.lh-example .lh-floor .lh-bottom .lh-dot .dot{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #999;
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}
.lh-example .lh-floor .lh-bottom .lh-dot span{
	font-size: 12px;
	color: #999;
}
.lh-example .lh-floor .lh-right .lh-san{
	 width: 0;
    height: 0;
    border-bottom: 16px solid #fc1873;
    border-left: 16px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
.lh-example .lh-floor .lh-right .lh-jiantou{
	width: 40px;
	height: 40px;
	background: #fc1873;
	color: #fff;
	text-align: center;
	line-height: 40px;
	position: absolute;
	font-size: 12px;
	top: 35px;
	right: 50px;
	font-size: 15px;
	opacity: 0;
	transition: all 0.5s;
}
.lh-example .lh-floor:hover .lh-jiantou{
	opacity: 1;
}
.lh-example .lh-floor:hover .lh-left{
	left: -20px;
	background: #fc1873;
}
.lh-example .lh-floor:hover .lh-middle{
	width: 296px;
	height: 184px;
}
/* 列表结束 */
.lh-fenye{
	width: 80px;
	height: 30px;
	background: #999;
	margin: 30px auto;
	color: #000;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}

.jianbian{
	width: 100%;
	height:1px;
	margin:0 auto 79px;
	background-image:linear-gradient(to left,#fff,#ddd,#fff);
}
