
/*内容*/
main{
	width: 100%;
	height: 100%;
}
main .np-page{
	width: 1200px;
	height: 50px;
	margin: auto;
	padding-top: 30px;
	position: relative;
}
main .np-page li{
	color: #a6a1a1;
	border-bottom: 2px solid #666;
	float:left;
	margin-right: 5px;
	font-size: 12px;
}
main .np-page li:nth-child(2){
	border-bottom: none;
}
main .np-page li:nth-child(4){
	border-bottom: none;
}
main .np-page li span{
	color: #000;
	display: block;
	float: left;
	font-size: 15px;
}
main .np-page .np-color{
	color: #FA90BC;
}
main .np-page .np-dian{
	width: 3px;
	height: 3px;
	border-radius:50%;
	background: #000000;
	display: block;
	position: absolute;
	left: 40px;
	bottom: 1px;
}
main .np-page .np-dian1{
	left: 154px;
}
main .np-out{
	margin: auto;
	width: 1000px;
	height: 200px;
	position: relative;
}
main .np-out img{
	display: block;
	position: absolute;
	left: 100px;
	top:20px;
}
main .np-out .top{
	width: 100%;
	height: 150px;
	position: relative;
	padding-top: 50px;
	padding-left: 10px;
	box-sizing:border-box;
}
main .np-out .top p{
	color: rgb(246,58,145);
	font-size:18px;
}
main .np-out .top p:nth-child(2){
	font-size:18px;	
	margin-top: 10px;
}
main .np-out .top .blue{
	font-size:6px;	
	margin-top: 12px;
	color: #62C3BF;
	position: absolute;
	bottom: 14px;
	left: 40px;
}
main .np-out .top .line{
	width: 726px;
	height: 2px;
	background:  rgb(246,58,145);
	position: absolute;
	right:20px;
	top: 82px;
}
main .np-out .top .point{
	width: 5px;
	height: 5px;
	background:  rgb(246,58,145);
	border-radius:50%;
	float: left;
	position: absolute;
	bottom: 18px;
	left: 20px;
}
main .np-out .top .point1{
	left: 24px;
}
main .np-out .top .point:nth-child(5){
	margin-left: 5px;
	margin-right: 5px;
}
main .np-out  .np-title{
	text-align: center;
	font-size: 18px;
	color: #F3F3F3;
}
main .np-map{
	width: 1000px;
	height: 100%;
	margin: auto;
}
main form{
	width: 1000px;
	margin: auto;
	height: 300px;
	margin-bottom: 60px;
	margin-top: 40px;
}
main form .np-input{
	line-height: 40px;
	width: 494px;
	border: 3px solid #ffc9e3;
	margin-top: 20px;
	outline: none;
	height: 44px;
	padding-left: 20px;
}
main form .np-left{
	margin-right: 6px;
}
main form p{
	text-align: center;
	font-size: 13px;
	color: #555;
}
main form .np-big{
	width: 1000px;
	height: 144px;
	line-height: 50px;
}
main form .np-text{
	width: 1000px;
	margin-bottom: 60px;
}
/*内容结束*/